:root {
    --black: #2C3E50;
    --aqua: #1ABC9C;
    --blue: #1281B8;
    --grey: #3A546D;
}

ul {
    margin: 0 !important;
    padding: 0;
}

header {
    background-color: var(--black);
}

.first-section {
    background-color: var(--aqua);
}

.third-section {
    background-color: var(--aqua);
}

.footer-bkg-top {
    background-color: var(--grey);
}

.footer-bkg-bottom {
    background-color: var(--black);
} 



/*******************
    FIRST SECTION   
********************/

.avatar {
    width: 261px;
}

/* DEBUG */



section {
    height: 400px;
}

footer div {
    height: 200px;
}

footer div:last-child {
    height: 80px;
}