:root {
    --black: #2C3E50;
    --aqua: #1ABC9C;
    --blue: #1281B8;
    --grey: #3A546D;
}

ul {
    margin: 0 !important;
    padding: 0;
}

.main_header {
    background-color: var(--black);
}

.first-section {
    background-color: var(--aqua);
}

.third-section {
    background-color: var(--aqua);
}

.footer-bkg-top {
    background-color: var(--grey);
}

.footer-bkg-bottom {
    background-color: var(--black);
} 



/*******************
       HEADER 
********************/


.dropdown_display {
    display: none;
}


/*******************
        MAIN  
********************/



/* Frist section */

.avatar {
    width: 261px;
}

.line {
    height: 2px;
    background-color: currentColor;
} 

.card_rounded{
    border-radius: 20px;
}

/* Second section */

/* Third section */

/* Fourth section */

.fourth-section .padding_remove {
    padding: 0 !important;
    margin: 0 !important;
}

.form_border {
    border: 0 !important;
}

.button_color {
    background-color: var(--aqua) !important;
}



/*******************
    FOOTER   
********************/

.link_color {
    color: var(--aqua);
}


/*******************
    MEDIA QUERY
********************/



@media (max-width:576px) {

    .footer-nav-list {
        display: none !important;
    }

    .dropdown_display {
        display: block;
    }
    
}

/* DEBUG */

